<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        <% for( let index = 0; index < comicData.length; index++ ) { %>
        <div class="col mb-5">
          <div class="card h-100">
            <!-- Product image-->
            <a href="/getDetailComic/<%= comicData[index]._id %>">
              <img style="height: 300px; width: 100%;" class="card-img-top" src="/uploads/<%= comicData[index].coverImage%>" alt="..."   />
            </a>
            <!-- Product details-->
            <div class="card-body p-4">
              <div class="text-center"> 
                <!-- Product name-->
                <h5 class="fw-bolder"><%= comicData[index].name %></h5>
                <!-- Product reviews-->
                <div class="d-flex justify-content-center small text-warning mb-2">
                  <div class="bi-star-fill"></div>
                  <div class="bi-star-fill"></div>
                  <div class="bi-star-fill"></div>
                  <div class="bi-star-fill"></div>
                  <div class="bi-star-fill"></div>
                </div>
                <p>tác giả: <%= comicData[index].author %></p>
                <p>thể loại: <%= comicData[index].CateID.Cate %></p>
              </div>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </section>